body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
}

h1 {
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #343434;
	text-decoration: underline;
}

a:hover {
	color: #515151;
	text-decoration: none;
}